<!DOCTYPE html>
<html>
    <head>
        <meta name="google-site-verification" content="P_wpVI14UDAjBIpaHBUyae1MXMvjsH8QKKsziBICVGE" />
        <meta name="google-signin-client_id" content=>{{ GOOGLE_CLIENT_ID}}

    </head>
    <body>
        {% if current_user.is_authenticated %}
        <p>Hello, {{current_user.name}}! You're logged in! Email: {{current_user.email}}</p>
        <div><p>Google Profile Picture:</p>
        <img src= {{current_user.profile_pic}} alt="Google profile pic"> </img>
        <a class="button" href="/logout">Logout</a>
        {% else %}
        <a class="button" href="/login">Google Login non auth g</a>
        {% endif %}

    </body>
</html>